{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "class-methods-use-this": "warn",
    "import/extensions": "off",
    "max-classes-per-file": "off",
    "import/prefer-default-export": "off",
    "lines-between-class-members": "off",
    // "import/extensions": "warn",
    "@typescript-eslint/lines-between-class-members": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_"
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}